@{
    ViewBag.Title = "Index";
}

<div class="row" id="homeHeader">
    <div class="col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
        <h1>Find expert Game Creators for your project</h1>
        <p>Thousands of small games use United Game Developtment to turn their ideas into reality</p>
    </div>
    <div class="col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-2">
        <img src="~/Content/images/project.png" class="img-responsive" />
    </div>
</div>

<div class="container row-seperator" id="workDone">
    <div class="row">
        <div class="col-md-6">
            <h2>Need work done?</h2>
            <p class="benefit">
                Post your project and receive numerous offers from game creators within minutes.
                Our big community will make it easy to find the perfect employees for your job.
                It's the simplest and safest way to get work done online!
            </p>
            <h3 class="row-seperator">How do you benefit?</h3>
            <p class="benefit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Unite Game Development has an enourmous active community</p>
            <p class="benefit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Accomplish your desired goals with our help</p>
            <p class="benefit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Big Game Dev companies hire employees from our platform</p>
            <p class="benefit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            We have helped over fifty AAA games get started</p>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <img src="~/Content/images/connections.png" class="img-responsive" />
        </div>
    </div>
</div>

<div class="container row-seperator text-center" id="projectStart">
    <div class="row">
        <div class="col-md-12">
            <h2>Get your project started now...</h2>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <img src="~/Content/images/gameDevelopment.png" class="img-responsive"/>
            <h3>Game Development</h3>
            <p>Starting from 300$</p>
        </div>
        <div class="col-md-2">
            <img src="~/Content/images/graphicDesign.png" class="img-responsive" />
            <h3>Graphic Design</h3>
            <p>Starting from 200$</p>
        </div>
        <div class="col-md-2">
            <img src="~/Content/images/gameMarketing.png" class="img-responsive" />
            <h3>Game Marketing</h3>
            <p>Starting from 150$</p>
        </div>
        <div class="col-md-2">
            <img src="~/Content/images/audioDevelopment.png" class="img-responsive" />
            <h3>Audio Development</h3>
            <p>Starting from 100$</p>
        </div>
    </div>
</div>

<div class="container row-seperator">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Successful Games we have helped</h2>
        </div>
        <div class="col-md-3">
            <a href="https://en.wikipedia.org/wiki/Limbo_(video_game)">
                <img src="~/Content/images/limbo.jpg" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-3">
            <a href="https://en.wikipedia.org/wiki/Inside_(video_game)">
                <img src="~/Content/images/inside.png" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-3">
            <a href="https://en.wikipedia.org/wiki/Oxenfree">
                <img src="~/Content/images/oxenfree.jpg" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-3">
            <a href="https://en.wikipedia.org/wiki/Firewatch">
                <img src="~/Content/images/firewatch.jpg" class="img-responsive" />
            </a>
        </div>
    </div>
</div>